body{
    background-image: url("bg.png");
    background-size: cover;
   
}
#prove{
    margin-left: 130px;
    height: 130px;
}
#img1{
    height:300px;
    width:350px;
    margin:-60px;
    margin-left: 130px;
    

}

h2{
    margin-left: 300px;
    margin-top: -100px;
    font-family: 'Fredoka One', cursive;
    font-size:35px;
}

marquee{
    font-size:20px;
    color: white;
}

#img2{
   
   margin-left:50px;
    height:500px;
}

button{
   
    margin-left:110px;
    font-size:31px;
    background-color:white;
    font-weight: bold;
    border-radius: 20px;
    border:6px solid;
    border-color: #6D1E49;
   
    background-repeat: repeat;

margin-top:40px;
    
}

#hand{
    
    height: 170px;
    margin-left:-70px;
}

#fact{
    margin-left:50px;
}

#study{
    margin-left:50px;
}

#intro{
    height:500px;
    margin-left:50px;
}

#fee{
    height: 700px;
    margin-left:100px;
}

#subject{
    height: 700px;
    margin-left:100px;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 18px;
   background-image: linear-gradient(to right, #8B2644,#8B2644, #8B2644); 
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
 }
  